@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}

body {
    background-image: url(../images/tea-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav {
    font-family: 'Pacifico', cursive;
    
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.tea {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: black;
    border-top: solid;
    border-radius: 20%;

}
.herbs {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: black;
}
.spices {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: black;
}
.contact {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: black;
}
.pic-1 {
    margin: 5px;
}
nav li:hover {
    color: rgb(211, 179, 100);
    font-size: 20px;
}
.logo {
    text-align: center;
    width: 250px;
    margin: 15px auto;
}
#para-1 {
    width: 250px;
    margin: 15px
}
.shop {
    width: 250px;
    position:absolute;
    right: 50px;
}
.p-1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
table tr td {
    /* border: 1px solid black; */
    width: 250px;
    padding: 5px;
   
}
#pict-1 {
    text-align: center;
    width: 250px;
    margin: 50px;
}
.slogan {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-left: 25px;
}
.lung {
    margin-top:25px;
    margin-left: 15px;
}
.table-1 {
    margin-left: 50x;
}